<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainMenu</title>
</head>
<body id="main-menu">
{% extends 'budget/base.html' %}
{% block content %}
<div class="container">
  <div class="container1">
    <div class="square">
      <a href="{% url 'spent' %}">
        <input class="menu-btn" type="submit" value="Spent"/>
      </a>
    </div>
    <div class="square">
      <a href="{% url 'spent' %}">
        <input class="menu-btn" type="submit" value="Current balance"/>
      </a>
    </div>
  </div>
  <div class="container2">
    <div class="square">
      <a href="{% url 'stat' %}">
        <input class="menu-btn" type="submit" value="Statistic"/>
      </a>
    </div>
    <div class="square">
      <a href="{% url 'spent' %}">
        <input class="menu-btn" type="submit" value="To buy checkboxes"/>
      </a>
    </div>
  </div>
</div>
<div class="top-nav">
  <a href="">Home</a>
  <a href="https://rate.am/" target="_blank">Currency</a>
  <a href="{% url 'calc' %}">Calculator</a>
  <a href="">About</a>
  <div class="right-nav-link">
    <a href="{% url 'logout' %}" id="log-out">Logout</a>
  </div>
</div>
{% endblock content %}
</body>
</html>